img.collage9 {
    position: absolute;
    top: 134px;
    left: 36%;
}
img.collage10 {
    position: absolute;
    top: 186px;
    left: 39%;
}
img.collage11 {
    position: absolute;
    top: 216px;
    left: 44%;
}