body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.nav-link {
  margin: 0px 68px;
  font-weight: 700;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li.breadcrumb-item a {
  color: white !important;
  text-decoration: none;
}
.omnix {
  background-image: url('images/OMIX1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vscc {
  background-image: url('images/VSCC.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.british {
  background-image: url('images/BC-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Manipal {
  background-image: url('images/MU-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.anglia {
  background-image: url('images/ARU-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  background: #1e1c1cb5;
  padding: 60px 0px !important;
  color: white;
}
.fdp {
background-image: url('images/FDP-01.png');
background-position: center;
background-repeat: no-repeat;
padding: 60px 0px !important;
background-size: cover;
color: white;
}
.Credentials, .home {
  background-image: url('images/MCAST1.jpg');
  padding: 60px 0px;
  color: white;
}
.breadcrumb-item.active {
  color: #ffffff;
}
.home_logo img {
   background: white;
    border-radius: 9px;
}
.navbars {
  background-color: #bdc5a0!important;
}
.entry {
  box-shadow: 1px 4px 16px 0px #0000004f;
  padding: 18px;
  background-color: #abd367;
  border-radius:5px;
  line-height: 35px;
}

.offered li {
  line-height: 30px;
}

.key li {
  line-height: 35px;
}

.Instructors h4 {
  font-style: italic;
  background: #abd367;
  display: inline-block;
  padding: 8px;
  box-shadow: 3px 13px 3px #00000078;
  border-radius: 5px;
  margin-bottom: 38px;
}

.program {
  background-color: #abd367;
  padding: 30px 120px;
}

.program h4 {
  font-style: italic;
  padding-bottom: 15px;
}

.program li {
  line-height: 37px;
}

h4.business {
  display: inline-block;
  font-style: italic;
  border-bottom: 1px solid;
}
  
.Credentials ul li {
  list-style-type: none;
  border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
}
.Credentials p {
  font-size: 23px;
  line-height: 44px;
}
li.breadcrumb-item {
  font-size: 26px;
}
.breadcrumb-item.active {
  color: #ffffff;
}
.text-right {
  text-align: right;
}
.Credentials p {
  font-size: 23px;
  line-height: 44px;
}

.offered {
  padding: 60px 0px;
}
li {
  list-style: none;
}
.programs {
  box-shadow: 2px 3px 4px black;
  padding: 33px;
  font-size: 20px;
}
.Credentials ul {
  display: flex;
  padding-left: 0;
}

img.contentimage {
  width: 100%;
  height: 200px;
  border-radius: 50px;
}
img.contentimage1 {
  width: 600px;
  height: 400px;
  border-radius: 50px;
}
.Syllabus {
  background-color: #025043;
  color: white;
  padding: 50px;
  position: relative;
}

.Benefits {
  background: #bdc5a0;
  padding: 20px;
}

.omage {
  position: absolute;
  bottom: 50px;
  right: 60px;
}

/* --------------------------omnix css------------------- */

.omnix {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.omnix-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}


/* ------------------fdp css---------------- */

.fdp {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.fdp-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

/* ---------------Anglia css------------- */

.Anglia {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.Anglia-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.Anglia-world a {
  color:#c3e5b4;
}

/* ---------------British css------------------- */


.British {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.British-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.British-world a {
  color:#c3e5b4;
}

/* -------------Universityob  Css------------ */
.Universityob {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.Universityob-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.Universityob-world a {
  color:#c3e5b4;
}

/* -----------------ManipalU css---------------- */
.ManipalU {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.ManipalU-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.ManipalU-world a {
  color:#c3e5b4;
}

/* -----------------Vishalscc css---------------- */

.Vishalscc {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.Vishalscc-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.Vishalscc-world a {
  color:#c3e5b4;
}
.left:hover .brain-left {
  display: block;
}

.brain {
  position: relative;
  height: 800px;
  margin-top: 100px;
  padding-top: 100px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}


/* ---------------- Left side images css ------------------ */

.brain-left {
  opacity: 0;
}

.barin-left11{
  opacity: 0;
}

.barin-left12 {
  opacity: 0;
}
.brain-left1:hover .brain-left {
  opacity: 1;
  transition:left 1s ease-out;
}

.brain-left2:hover .barin-left11 {
  opacity: 1;
  transition:left 1s ease-out;
}

.brain-left3:hover .barin-left12{
  opacity: 1;
  transition:left 1s ease-out;
}

.brain-left2 {
  margin-top: -44px;
  margin-right: 1px;
  width: 271px;
  margin-left: auto;
}

.brain-left3 {
  margin-top: -39px;
  margin-right: -1px;
  width: 263px;
  margin-left: auto;
}

.left {
  position: relative;
}
.brain-left1 {
  width: 250px;
  margin-left: auto;
}

/* ---------------- Left first part  side images css ------------------ */
.brain-left1:hover .collage {
  position: absolute;
  left: 44%;
  top: -45px;
  transition:left 1s ease-out;
}

.brain-left1:hover .collage2 {
  position: absolute;
  top: 110px;
  left: 39%;
  transition:left 1s ease-out;
}

.brain-left1:hover .collage9 {
  position: absolute;
  left: 22%;
  top: 14px;
  transition:left 1s ease-out;
}

.brain-left1:hover .collage1 {
  position: absolute;
  left: 69%;
  top: -105px;
  transition:left 1s ease-out;
}

.collage {
  position: absolute;
  left: -50%;
  top: -45px;
}

.collage2 {
  position: absolute;
  top: 110px;
  left: -50%;
}

.collage9 {
  position: absolute;
  left: -50%;
  top: 14px;
}

.collage1 {
  position: absolute;
  left: -50%;
  top: -105px;
}

.header a.nav-link {
  margin: 0px 42px;
  font-weight: 700;
}

/* ---------------- Left second part  side images css ------------------ */




.brain-left2:hover .collage6 {
  position: absolute;
  top: 311px;
  left: 36%;
  transition:left 1s ease-out;
}
.brain-left2:hover .collage10 {
  position: absolute;
  top: 168px;
  left: 36%;
  transition:left 1s ease-out;
}

.brain-left2:hover .collage11 {
  position: absolute;
  top: 233px;
  left: 15%;
  transition:left 1s ease-out;
}

.collage6 {
  position: absolute;
  top: 311px;
  left: -50%;
}
.collage10 {
  position: absolute;
  top: 168px;
  left: -50%;
}

.collage11 {
  position: absolute;
  top: 233px;
  left: -50%;
}




/* ---------------- Left third part  side images css ------------------ */
.brain-left3:hover .collage8 {
  position: absolute;
  top: 456px;
  transition:left 1s ease-out;
  left: 47%;
}
.brain-left3:hover .collage7 {
  position: absolute;
  top: 311px;
  transition:left 1s ease-out;
  left: 36%;
}
.brain-left3:hover .collage21 {
  position: absolute;
  left: 24%;
  transition:left 1s ease-out;
  margin-top: -6%;
}
.brain-left3:hover .collage20 {
  position: absolute;
  top: 324px;
  left: 13%;
  transition:left 1s ease-out;
}

.collage8 {
  position: absolute;
  top: 456px;
  left: -50%;
}
.collage7 {
  position: absolute;
  top: 311px;
  left: -50%;
}
.collage21 {
  position: absolute;
  left: -50%;
  margin-top: -6%;
}
.collage20 {
  position: absolute;
  top: 324px;
  left: -50%;
}



/* ---------------- right side images css ------------------*/

.brain-right {
  opacity: 0;
}

.right:hover .brain-right {
  opacity: 1;
}
.right:hover {
  width: 100%;
}
.right {
  position: relative;
  width: 230px;
}

.collage4 {
  position: absolute;
  top: -92px;
}

.right:hover .collage3 {
  position: absolute;
  top: -36px;
  right: 47%;
  transition:right 1s ease-out;
}  
.right:hover .collage5 {
  position: absolute;
  right: 30%;
  top: 8%;
  transition:right 1s ease-out;

}
.right:hover .collage12 {
  position: absolute;
  top: 28%;
  transition:right 1s ease-out;
  right: 174px;
}
.right:hover .collage13 {
  position: absolute;
  top: 50%;
  right: 27%;
  transition:right 1s ease-out;
}
.right:hover .collage14 {
  position: absolute;
  right: 41%;
  top: 67%;
  transition:right 1s ease-out;
}
.right:hover .collage16 {
  position: absolute;
  right: 55%;
  transition:right 1s ease-out;
  top: 87%;
}

.right:hover .collage4 {
  position: absolute;
  top: -92px;
  transition:right 1s ease-out;
}

.collage3 {
  position: absolute;
  top: -36px;
  right: 0%;
  
}  
.collage5 {
  position: absolute;
  right: 0%;
  top: 8%;
}
.collage12 {
  position: absolute;
  top: 28%;
  right: 0%;
}
.collage13 {
  position: absolute;
  top: 50%;
  right: 0%;
}
.collage14 {
  position: absolute;
  right: 0%;
  top: 67%;
}
.collage16 {
  position: absolute;
  right: 0%;
  top: 87%;
}

.brain-center {
  opacity: 0;
}
.brain-center img {
  position: absolute;
  left: -16%;
}

.brain3 {
  height: 83px;
}

.brain3:hover .brain-center {
  opacity: 1;
}
.brain3:hover .brain-center img {
  bottom: 44px;
  left: 43%;
  transition: left 1s ease-out;
}