body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.nav-link {
  margin: 0px 68px;
  font-weight: 700;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Credentials, .home {
  background: #bdc5a0;
  padding-bottom: 4px;
}

.navbars {
  background-color: #bdc5a0!important;
}

.Credentials ul li {
  list-style-type: none;
  border-right: 2px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

.text-right {
  text-align: right;
}
.Credentials ul {
  display: flex;
  padding-left: 0;
}

img.contentimage {
  width: 100%;
  height: 200px;
  border-radius: 50px;
}
img.contentimage1 {
  width: 600px;
  height: 400px;
  border-radius: 50px;
}
.Syllabus {
  background-color: #025043;
  color: white;
  padding: 50px;
  position: relative;
}

.Benefits {
  background: #bdc5a0;
  padding: 20px;
}

.omage {
  position: absolute;
  bottom: 50px;
  right: 60px;
}

/* --------------------------omnix css------------------- */

.omnix {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.omnix-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}


/* ------------------fdp css---------------- */

.fdp {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.fdp-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

/* ---------------Anglia css------------- */

.Anglia {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.Anglia-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.Anglia-world a {
  color:#c3e5b4;
}

/* ---------------British css------------------- */


.British {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.British-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.British-world a {
  color:#c3e5b4;
}

/* -------------Universityob  Css------------ */
.Universityob {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.Universityob-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.Universityob-world a {
  color:#c3e5b4;
}

/* -----------------ManipalU css---------------- */
.ManipalU {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.ManipalU-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.ManipalU-world a {
  color:#c3e5b4;
}

/* -----------------Vishalscc css---------------- */

.Vishalscc {
  background-color: #bdc5a0;
  padding-bottom: 5px;
}

.Vishalscc-world {
  background-color: #004e41;
  color:#c3e5b4;
  padding: 40px 0px;
}

.Vishalscc-world a {
  color:#c3e5b4;
}


.brain {
  position: relative;
  height: 700px;
  margin-top: 100px;
}
@media only screen and (max-width: 1399px) {
  
.image2 .main {
  position: absolute;
  left: 34.8%;
  top: -22px;
}
.image5 .main {
  position: absolute;
  right: 32%;
  top: -25px;
}
.image3 .main {
  position: absolute;
  left: 30%;
  top: 84px;
}
.image4 .main {
  position: absolute;
  left: 33.2%;
  top: 221px;
}
.image6 .main {
  position: absolute;
  right: 29%;
  top: 141px;
}
.image7 .main {
  position: absolute;
  right: 33%;
  top: 278px;
}
.image1 .main {
  position: absolute;
  top: 215px;
  left: 46.2%;
}

}

.brain .main:hover {
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.brainimag1 {
  opacity: 0;
}

.image1:hover .brainimag1 {
  opacity: 1;
}

.brainimag2 {
  opacity: 0;
}

.image7:hover .brainimag2 {
  opacity: 1;
}
.brainimag3 {
  opacity: 0;
}

.image6:hover .brainimag3 {
  opacity: 1;
}
.brainimag4 {
  opacity: 0;
}

.image4:hover .brainimag4 {
  opacity: 1;
}
.brainimag5 {
  opacity: 0;
}

.image3:hover .brainimag5 {
  opacity: 1;
}
.brainimag6 {
  opacity: 0;
}

.image5:hover .brainimag6 {
  opacity: 1;
}
.brainimag7 {
  opacity: 0;
}

.image2:hover .brainimag7 {
  opacity: 1;
}
.brainimag1 {
  opacity: 0;
}

.image6:hover .brainimag1 {
  opacity: 1;
}


@media only screen and (max-width: 1600px) {

.image2 .main {
  position: absolute;
  left: 36.4%;
  top: -22px;
}
.image5 .main {
  position: absolute;
  right: 35%;
  top: -25px;
}
.image3 .main {
  position: absolute;
  left: 31%;
  top: 84px;
}
.image4 .main {
  position: absolute;
  left: 35.2%;
  top: 221px;
}
.image6 .main {
  position: absolute;
  right: 33%;
  top: 141px;
}
.image7 .main {
  position: absolute;
  right: 36%;
  top: 278px;
}
.image1 .main {
  position: absolute;
  top: 215px;
  left: 46.2%;
}

}

.collage9 {
  position: absolute;
  top: 181px;
  left: 18%;
  transition:left 2s ease-out;
}
.collage10 {
  position: absolute;
  top: 293px;
  left: 19%;
  transition:left 2s ease-out;
}
.collage11 {
  position: absolute;
  top: 379px;
  left: 27%;
  transition:left 2s ease-out;
}

.image1:hover .collage24 {
  position: absolute;
  left: 39%;
  top: 493px;
  transition:left 2s ease-out;
}
.image1:hover .collage25 {
  position: absolute;
  left: 47%;
  transition:left 2s ease-out;
  top: 491px;
}


.collage24 {
  position: absolute;
  left: 0%;
  top: 493px;
}
.collage25 {
  position: absolute;
  left: 0%;
  top: 491px;
}



.image7:hover .collage16 {
  position: absolute;
  right: 26%;
  top: 355px;
  transition:right 2s ease-out;
}

.image7:hover .collage15 {
  position: absolute;
  right: 20%;
  transition:right 2s ease-out;
  top: 230px;
}


.collage16 {
  position: absolute;
  right: 6%;
  top: 355px;
  transition:right 2s ease-out;
}
.collage15 {
  position: absolute;
  right: 10%;
  transition:right 2s ease-out;
  top: 230px;
}




.image6:hover .collage12 {
  position: absolute;
  right: 19%;
  transition:right 2s ease-out;
  top: 38px;
}

.image6:hover .collage13 {
  position: absolute;
  right: 16%;
  top: 177px;
  transition:right 2s ease-out;
}

.image6:hover .collage14 {
  position: absolute;
  right: 22%;
  top: 305px;
  transition:right 2s ease-out;
}


.collage12 {
  position: absolute;
  right: 5%;
  transition:right 2s ease-out;
  top: 38px;
}
.collage13 {
  position: absolute;
  right: 5%;
  top: 177px;
  transition:right 2s ease-out;
}
.collage14 {
  position: absolute;
  right: 10%;
  top: 305px;
  transition:right 2s ease-out;
}






.image4:hover .collage9 {
  position: absolute;
  top: 181px;
  transition:left 2s ease-out;
  left: 18%;
}

.image4:hover .collage10 {
  position: absolute;
  top: 293px;
  left: 19%;
  transition:left 2s ease-out;
}


.image4:hover .collage11 {
  position: absolute;
  top: 379px;
  transition:left 2s ease-out;
  left: 27%;
}

.collage9 {
  position: absolute;
  top: 181px;
  transition:left 2s ease-out;
  left: 5%;
}
.collage10 {
  position: absolute;
  top: 293px;
  left: 5%;
  transition:left 2s ease-out;
}
.collage11 {
  position: absolute;
  top: 379px;
  transition:left 2s ease-out;
  left: 8%;
}



.image3:hover .collage8 {
  position: absolute;
  left: 18%;
  transition:left 2s ease-out;
  top: 220px;
}

.image3:hover .collage7 {
  position: absolute;
  left: 15%;
  transition:left 2s ease-out;
  top: 103px;
}

.image3:hover .collage6 {
  position: absolute;
  left: 19%;
  transition:left 2s ease-out;
}

.collage8 {
  position: absolute;
  left: 5%;
  transition:left 2s ease-out;
  top: 220px;
}

.collage7 {
  position: absolute;
  left: 5%;
  transition:left 2s ease-out;
  top: 103px;
}

.collage6 {
  position: absolute;
  left: 5%;
  transition:left 2s ease-out;
}





.image2:hover .collage {
  position: absolute;
  top: 39px;
  left: 19%;
  transition:left 2s ease-out;
}
.image2:hover .collage1 {
  position: absolute;
  left: 34%;
  top: -97px;
  transition:left 2s ease-out;
}
.image2:hover .collage2 {
  position: absolute;
  left: 21%;
  top: -62px;
  transition:left 2s ease-out;
}
.collage {
  position: absolute;
  top: 39px;
  left: 0%;
  transition:left 2s ease-out;
}
.collage1 {
  position: absolute;
  left: 0%;
  top: -97px;
  transition:left 2s ease-out;
}
.collage2 {
  position: absolute;
  left: 0%;
  top: -62px;
  transition:left 2s ease-out;
}





.image5:hover .collage3 {
  position: absolute;
  right: 20%;
  top: -67px;
  transition:right 2s ease-out;
}
.image5:hover .collage4 {
  position: absolute;
  right: 31%;
  top: -94px;
  transition:right 2s ease-out;
}

.image5:hover .collage5 {
  position: absolute;
  right: 16%;
  transition:right 2s ease-out;
  top: 59px;
}

.collage3 {
  position: absolute;
  right: 0%;
  top: -67px;
  transition:right 2s ease-out;
}
.collage4 {
  position: absolute;
  right: 1%;
  top: -94px;
  transition:right 2s ease-out;
}
.collage5 {
  position: absolute;
  right: 0%;
  transition:right 2s ease-out;
  top: 59px;
}



@media only screen and (max-width: 1054px) {

  .image4 .main {
    position: absolute;
    left: 346px;
    top: 110px;
}
.image1 .main {
    position: absolute;
    top: 61px;
    left: 330px;
}

.image7 .main {
    position: absolute;
    right: 330px;
    top: 94px;
}

.image6 .main {
    position: absolute;
    right: 326px;
    top: 37px;
}
.image5 .main {
    position: absolute;
    right: 361px;
    top: -17px;
}
.image3 .main {
    position: absolute;
    left: 315px;
    top: 34px;
}

.image2 .main {
    position: absolute;
    left: 373px;
}




}


@media only screen and (max-width: 768px) {
  .image1 .main {
    position: absolute;
    top: 64px;
    left: 117px;
}

.image7 .main {
    position: absolute;
    right: 120px;
    top: 94px;
}

.image6 .main {
    position: absolute;
    right: 115px;
    top: 37px;
}

.image4 .main {
    position: absolute;
    left: 132px;
    top: 110px;
}

.image3 .main {
    position: absolute;
    left: 110px;
    top: 34px;
}

.image5 .main {
    position: absolute;
    right: 154px;
    top: -17px;
}

.image2 .main {
    position: absolute;
    left: 160px;
}

}
@media only screen and (max-width: 410px) {
  .image2 .main {
    position: absolute;
    left: 29.7%;
    top: -15px;
}
.image5 .main {
    position: absolute;
    right: 20.4%;
    top: -17px;
}
.image3 .main {
    position: absolute;
    left: 17%;
    top: 36px;
}
.image4 .main {
    position: absolute;
    left: 25%;
    top: 121px;
}
.image6 .main {
    position: absolute;
    right: 16%;
    top: 59px;
}
.image7 .main {
    position: absolute;
    right: 19%;
    top: 140px;
}
}

@media only screen and (max-width: 414px) {
  .image2 .main {
    position: absolute;
    left: 29.7%;
    top: -15px;
}
.image5 .main {
    position: absolute;
    right: 20.4%;
    top: -17px;
}
.image3 .main {
    position: absolute;
    left: 17%;
    top: 36px;
}
.image4 .main {
    position: absolute;
    left: 25%;
    top: 121px;
}
.image6 .main {
    position: absolute;
    right: 16%;
    top: 59px;
}
.image7 .main {
    position: absolute;
    right: 19%;
    top: 140px;
}

}
@media only screen and (max-width: 375px) {

  .image6 .main {
    position: absolute;
    right: 6%;
    top: 37px;
}
.image1 .main {
    position: absolute;
    top: 64px;
    left: 13%;
}
.image7 .main {
    position: absolute;
    right: 8%;
    top: 94px;
}
.image4 .main {
    position: absolute;
    left: 17%;
    top: 110px;
}
.image3 .main {
    position: absolute;
    left: 11%;
    top: 34px;
}
.image5 .main {
    position: absolute;
    right: 17.5%;
    top: -17px;
}
.image2 .main {
    position: absolute;
    left: 25%;
}

}
@media only screen and (max-width: 320px) {


  .image2 .main {
    position: absolute;
    left: 17%;
}

.image5 .main {
    position: absolute;
    right: 14%;
    top: -17px;
}
.image3 .main {
    position: absolute;
    left: 0%;
    top: 34px;
}
.image4 .main {
    position: absolute;
    left: 7%;
    top: 110px;
}
.image6 .main {
    position: absolute;
    right: 1%;
    top: 37px;
}

.image7 .main {
    position: absolute;
    right: 3%;
    top: 94px;
}
.image1 .main {
    position: absolute;
    top: 64px;
    left: 2.6%;
}



}