
.collage3 {
    position: absolute;
    top: -36px;
    right: 47%;
}  
.collage5 {
    position: absolute;
    right: 30%;
    top: 8%;
}
.collage12 {
    position: absolute;
    top: 28%;
    right: 174px;
}
.collage13 {
    position: absolute;
    top: 50%;
    right: 27%;
}
.collage14 {
    position: absolute;
    right: 41%;
    top: 67%;
}
.collage16 {
    position: absolute;
    right: 55%;
    top: 87%;
}